[submodule "raw/phase2"]
	path = raw/phase2
	url = ../phase2
[submodule "code/ofhelpers"]
	path = code/ofhelpers
	url = /home/data/exppsy/forrest_gump/git/openfmri_code
[submodule "raw/structural"]
	path = raw/structural
	url = ../structural
[submodule "raw/phase1"]
	path = raw/phase1
	url = ../phase1
